body {
  background-color: #F9F9F9;
}
h1 {
  color: #EB1D36
}

h3 {
  color:#EB1D36
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 3%;


}
